/*
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}*/
.event-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-item + .event-item {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 3px solid #000;
}

.event-item header {
  margin-bottom: 1em;
}

.event-item small {
  display: block;
  font-size: 70%;
}

.event-item .event-date {
  display: flex;
  justify-content: space-between;
}

.event-item .event-media {
  min-width: 200px;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .cpt-event-list .event-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .cpt-event-list .event-item .event-media {
    margin-bottom: 0;
  }
  .cpt-event-list .event-item .event-media + .event-content {
    padding-left: 2em;
  }
}

.event-item.single-event #cpt-event-map {
  width: 100%;
  height: 500px;
}

/*# sourceMappingURL=../../sourcemaps/client.css.map */
