$breakpoints: (
    "320":      320px,
    "480":      480px,
    "620":      620px,
    "768":      768px,
    "992":      992px,
    "1024":     1024px,
    "1200":     1200px,
    "1400":     1400px,
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// example
/*
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}*/

@mixin fs-h1() {
    font-size: 64px;
    font-size: 3.8rem;
}
@mixin fs-h2() {
    font-size: 56px;
    font-size: 3.2rem;
}
@mixin fs-h3() {
    font-size: 42px;
    font-size: 2.4rem;
}
@mixin fs-h4() {
    font-size: 33px;
    font-size: 1.9rem;
}
@mixin fs-h5() {
    font-size: 24px;
    font-size: 1.3rem;
}
@mixin fs-h6() {
    font-size: 18px;
    font-size: 1rem;
}

@mixin subtitle($font-size: .8em, $font-weight:500){
    font-family: $sub-title-font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    text-transform: uppercase;
}

@mixin elementTransition($proprety: all, $duration: 0.2s, $time_function: ease-in-out, $delay: 0s) {
    -webkit-transition: $proprety $duration $time_function $delay;
    -moz-transition: $proprety $duration $time_function $delay;
    -o-transition: $proprety $duration $time_function $delay;
    -ms-transition: $proprety $duration $time_function $delay;
    transition: $proprety $duration $time_function $delay;
}

@mixin overlay($color: rgba(0,0,0,.5), $content: false) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    @include elementTransition();
    @if $content {
        content: $content;
    }
    &:hover {
        background-color: $color;
    }
}

@mixin placeholder ($size:1.1em, $style:italic, $weight:300, $color: $text-color){
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    color: $color;
    text-transform: capitalize;
   // letter-spacing: .2em;
    .ds & {
        color: $darkFontColor;
    }
}

@mixin quadro($size, $round: false) {
    width: $size;
    height: $size;
    @if $round {
        border-radius: 50%;
        overflow: hidden;
    }
}

@mixin cite () {
    display: block;
    font-family: $base-font-family;
    font-size: 0.7em;
    font-style: normal;
    padding: 0;
    line-height:1.1;
    text-transform: capitalize;
    @include fs-h4();
    font-weight: 600;
    color: $darkColor;
    .highlight {
        display: block;
        font-size: .9rem;
    }
    small::before {
        content:none;
    }
    &::before {
        content: none;
        display: block;
        padding-bottom: 2em;
        margin: 2em 0 1.5em;
        background: url('../img/icon-divider.png') no-repeat center;
    }
}