@import "mixins";

.event-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    + .event-item {
        margin-top: 2em;
        padding-top: 2em;
        border-top: 3px solid #000;
    }
    header {
        margin-bottom: 1em;
    }
    small {
        display: block;
        font-size: 70%;
    }
    .event-date {
        display: flex;
        justify-content: space-between;
    }
    .event-media {
        min-width: 200px;
        margin-bottom: 2em;
    }

    @include mq('768') {
        .cpt-event-list & {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            .event-media {
                margin-bottom: 0;
                + .event-content {
                    padding-left: 2em;
                }
            }
        }


    }
    &.single-event {
        #cpt-event-map {
            width: 100%;
            height: 500px;
        }
    }
}
